# Dependencies
node_modules
.bun

# Build outputs
dist
build

# Environment & Sensitive Files
.env
.env.*
!.env.example
credentials.json
token.json

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS & Editor
.DS_Store
Thumbs.db
.vscode/
.idea/